name: Sync on commit

on: 
 push:
 workflow_dispatch:
 
jobs:
 test:
   runs-on: [ ubuntu-latest ]
   steps:
     - name: Run
       if: contains(github.event.head_commit.message, 'SYNC') ||ã€€github.event_name == 'workflow_dispatch'
       run: |
         ls ${{ github.workspace }}
